// body width
$mobileWidth: 375px
$desktopWidth: 1440px

//colors
$softBlue: hsl(231, 69%, 60%)
$softRed: hsl(0, 94%, 66%)
$grayishBlue: hsl(229, 8%, 60%)
$veryDarkBlue: hsl(229, 31%, 21%)

//font sizes
$h1FontSize: 40px
$subHeadingFontSize: 23px
$smallSubhFontSize: 14px
$mainFontSize: 18px
$bttnFotnSize: 14px
$errorFontSize: 7px


//font weights
$normalWeight: 400
$bolderWeight: 500

//margins
$contentVerticalMargin: 40px
$bodyMarginLeft: 168px


//element sizes
$bttnHeight: 45px

$bigBttnWidth: 230px
$mediumBttnWidth: 165px
$smallBttnWidth: 115px
$lastBttnWidth: 120px

$formWidth: 300px

@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500&display=swap')


header, nav, ul, li, p, h1, h2, h3, h4, a
    margin: 0
    padding: 0
    list-style-type: none
    text-decoration: none
    font-family: 'Rubik', sans-serif

button
    border: 0


body 
    max-width: 1440px
    width: 1440px
    margin: 0 auto

    .app 
        width: 100%